#console {
    background: #000;
    color: #fff;
    font-size: 2.6vh;
    height: 52vh;
    opacity: 0.9;
    position: absolute;
    top: 0;
    width: 100%;
}

#console .console-admin {
    border-left: 1px solid #777;
    height: 100%;
    padding-left: 0.5vh;
    position: absolute;
    right: -40%;
    top: 0;
    width: 40%;
}

#console .console-admin .chat-bottom {
    padding-top: 1vh;
}

#console .console-admin .chat-bottom input {
    width: 99%;
}

#console .console-admin .chat-content {
    background: #111;
    height: 88.5%;
}

#console .console-admin .console-chat .chat {
    padding: 0 1vh;
    text-align: right;
}

#console .console-admin .admin-open {
    color: #fb0;
    left: -16%;
    position: absolute;
    text-align: center;
    top: 10%;
    transform: rotate(-90deg);
    width: 17vh;
}

#console .console-admin .admin-open:hover {
    opacity: 0.8;
}

#console .console-chat .chat {
    color: #1f0;
}

#console .console-content {
    height: 38vh;
    padding: 4vh 3vh;
    width: 95.7%;
}

#console .console-bottom {
    padding: 2vh 3vh 0vh;
}

#console .console-content p {
    border-bottom: 1px solid #444;
    margin: 1vh;
    word-break: break-word;
}

#console .console-content p:hover {
    border-bottom: 1px solid #555;
    color: #ddd;
}

#console .console-report {
    display: grid;
    grid-template-columns: 38% 62%;
    grid-template-rows: repeat(1, 1fr);
    height: 93%;
}

#console .console-report .empty {
    color: #aaa;
    margin-top: 50%;
    text-align: center;
}

#console .dialog-messages {
    background: #111;
    height: 79%;
    padding: 1vh;
}

#console .report-dialog input {
    margin: 2%;
    margin-top: 1vh;
    width: 96%;
}

#console .dialog-message {
    background: #fff;
    border-radius: 5px;
    color: #000;
    margin-bottom: 2vh;
    padding: 1vh;
    width: fit-content;
    word-break: break-word;
}

#console .dialog-message .date {
    color: #555;
    font-size: 2.5vh;
    text-align: right;
}

#console .dialog-message .date:hover {
    color: #777;
}

#console .dialog-message.my {
    background: #cde3ff;
}

#console .report_menu {
    background: #111;
    color: #fff;
    min-width: 15vh;
    position: fixed;
    /*top: 10vh;
    right: 11vh;*/
}

#console .report_menu .menu-item {
    border-bottom: 1px solid #222;
    border-left: 1px solid #000;
    font-weight: bold;
    padding: 1vh;
}

#console .report_menu .menu-item:hover {
    background: #fff;
    border-left: 2px solid #196;
    color: #000;
}

#console .report-list {
    border-right: 1px solid #555;
}

#console .report-list input {
    margin-bottom: 1vh;
    width: 100%;
}

#console .report-list .content {
    height: 90%;
}

#console .report-list .content .report {
    border-left: 2px solid #fff;
    color: #3f2;
    margin-bottom: 0.4vh;
    padding: 0.5vh;
}

#console .report-list .content .report:hover {
    opacity: 0.8;
}

#console .report-list .report .name {
    font-size: 1.8vh;
}

#console .report-list .report .title {
    font-size: 1.4vh;
}

#console .report-list .content .claim {
    border-color: #f77;
}

#console .report-list .content .help {
    border-color: #7ff;
}

#console .report-list .content .my {
    color: #77f;
}

#console .report-list .content .busy {
    color: #e44;
}

#console .report-list .content .new {
    background: #333;
}

#console .selector {
    padding: 1vh 0;
    padding-right: 1vh;
    text-align: right;
}

#console .selector .active {
    border: 1px solid #fb0;
}

#console .selector > span {
    border: 1px solid #fff;
    padding: 0.5vh;
}

#console .selector span:not(.active):hover {
    border-color: #196;
}

#console .log {
    border-left: 3px solid #fff;
}

#console .info {
    border-left: 3px solid #00c;
}

#console .warning {
    border-left: 3px solid #f80;
}

#console .error {
    border-left: 3px solid #c00;
    font-style: italic;
}

#console .debug {
    border-left: 3px solid #bf0;
}

#console .console-bottom {
    width: 95.7%;
}

#console .console-bottom input {
    border-bottom: 1px solid #777;
    width: 100%;
}

#console .console-bottom input:focus {
    outline: none;
}

#console .console-bottom input::placeholder {
    color: #555;
}

#console input {
    background: #222;
    border: none;
    color: #fff;
    font-size: 2.5vh;
    padding: 0.6vh;
}

#console ::-webkit-scrollbar {
    width: 4px;
}

#console ::-webkit-scrollbar-thumb {
    border-width: 1px 1px 1px 2px;
    border-color: #196;
    background-color: #196;
}

#console ::-webkit-scrollbar-thumb:hover {
    border-width: 1px 1px 1px 2px;
    border-color: #085;
    background-color: #085;
}

#console ::-webkit-scrollbar-track:hover {
    border-left: solid 1px #222;
    background-color: #222;
}
